{% extends 'base.html.twig' %}

{% block body %}
    <p class="alert alert-danger">Êtes-vous sur de vouloir supprimer l'utilisateur ?</p>
    {{ form(form)}}
    <a class="btn btn-danger" href="{{ path('admin') }}">Annuler</a>
{% endblock %}