{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
    <h2 class="my-3 mt-6"> Edition informations utilisateur</h2>
    {{ form(form)}}
    <a class="btn btn-danger" href="{{ path('admin') }}">Annuler</a>
  </div>
  {% endblock %}
