{% block stylesheets %}
        <link rel="stylesheet" href={{ absolute_url(asset('https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css')) }} integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('assets/css/konami.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
{% endblock %}
{% block body %}

<div class="container-fluid">
    <a class="btn btn-dark mt-3" href="{{path("home")}}">Accueil</a>
    <div class="row justify-content-center mt-3">
        <div class="col-6">
            <h1>Développé par :</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-6 dev-box">
            <p class="border border-4 rounded p-3 text-center dev-name" >François</p>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-6 dev-box">
            <p class="border border-4 rounded p-3 text-center dev-name" >Corentin</p>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-6 dev-box">
            <p class="border border-4 rounded p-3 text-center dev-name" >Benjamin</p>
        </div>
    </div>
</div>

{% endblock %}
