{% if app.user and userPlace %}
<section class="jumbotron jumbotron-fluid bg-primary text-white">
  <div class="container">
    <h3 class="display-4 text-bold">Vous êtes {{userPlace}}e dans la liste {{ nameList }} </h3>
  </div>
</section>
{% endif %}