html {
    scroll-behavior: smooth;
}

body{
    background-color:#f8f9fa ;
}
.home {
    background-position: center;
    background-image: url("../img/motocross-1.jpg");
    background-size: cover;
    min-height: 100vh;
}

.mt-6 {
    margin-top: 5rem !important;
}

.title {
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgb(0 0 0 / 90%);
    /*background-color: rgba(222, 221, 216, 0.19);*/
    /*font-size: 6rem;*/
    margin-top: 50vh;
    font-size: 6rem !important;
}

.bg-opacity {
    background-color: rgba(0, 0, 0, 0.623);
}

@media (max-width: 780px){
    .title {
        font-size: 4rem !important;
    }
}

@media (max-width: 540px){
    .title {
        font-size: 2rem !important;
    }
}


/* navBar */
.navbar {
    position: -webkit-sticky;
    position: sticky;
    top:0px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.navbar > .container-fluid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; 
}

.navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none; 
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0; 
}
.navbar-nav .dropdown-menu {
    position: static;
    float: none; 
}
.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; 
}
  
.navbar-toggler {
padding: 0.25rem 0.75rem;
font-size: 1.25rem;
line-height: 1;
background-color: transparent;
border: 1px solid transparent;
border-radius: 0.25rem; 
}

.navbar-toggler:hover, .navbar-toggler:focus {
    text-decoration: none; 
}

@media (max-width: 991.98px) {
    .navbar-expand-lg > .container,
    .navbar-expand-lg > .container-fluid {
      padding-right: 0;
      padding-left: 0; 
    } 
}
  
@media (min-width: 992px) {
    .navbar-expand-lg {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start; 
    }
    .navbar-expand-lg .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row; 
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute; 
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem; 
    }
    .navbar-expand-lg > .container,
    .navbar-expand-lg > .container-fluid {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; 
    }
    .navbar-expand-lg .navbar-collapse {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto; 
    }
    .navbar-expand-lg .navbar-toggler {
        display: none; 
    } 
}
.navbar-dark .navbar-brand {
    color: #fff; }
.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
    color: #fff; }
  
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5); }
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.75); }
.navbar-dark .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.25); }

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
    color: #fff; }

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.1); }

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.navbar-dark .navbar-text {
    color: rgba(255, 255, 255, 0.5); }
.navbar-dark .navbar-text a {
    color: #fff; }
.navbar-dark .navbar-text a:hover, .navbar-dark .navbar-text a:focus {
    color: #fff; }

.ftco-navbar-light {
    background: #252525 !important;
    z-index: 3;
    padding: 0; }
@media (max-width: 991.98px) {
    .ftco-navbar-light {
    background: #000 !important;
    position: relative;
    top: 0;
    padding: 10px 15px; } }
@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav {
        padding-bottom: 10px; 
    } 
}
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    font-size: 11px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    opacity: 1 !important; 
}
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ff0000;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; 
}
@media (prefers-reduced-motion: reduce) {
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:before {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; 
    } 
}
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
color: #ff0000; }
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover:before {
    width: 100%; }
@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
        padding-left: 0;
        padding-right: 0;
        padding-top: .7rem;
        padding-bottom: .7rem;
        color: rgba(255, 255, 255, 0.7);
    }
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
        color: #fff; 
    } 
}
@media (max-width: 767.98px) {
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
    } 
}
.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu {
    border: none;
    background: #fff;
    -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    border-radius: 4px; }
.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item {
    font-size: 12px;
    color: #000; }
.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item:hover, .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item:focus {
        background: #ff0000;
        color: #fff; }
@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu {
        display: block !important;
        background: #000; 
    }
    .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item {
        color: rgba(255, 255, 255, 0.8); 
    } 
}
.ftco-navbar-light .navbar-nav > .nav-item.cta > a {
    color: #fff;
    background: #ff0000;
    border-radius: 0px; 
}
@media (max-width: 767.98px) {
    .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
        padding-left: 15px;
        padding-right: 15px; 
    } 
}
@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
        color: #fff;
        background: #ff0000;
        border-radius: 4px; 
    } 
}
.ftco-navbar-light .navbar-nav > .nav-item.active > a {
    color: #ff0000; }
@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav > .nav-item.active > a {
        color: #fff; 
    } 
}
.ftco-navbar-light .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em; 
}
.ftco-navbar-light .navbar-toggler:focus {
    outline: none !important; 
}

/* Progress bar */
.progress
{
    height: 25px;
}

.progress-bar strong{
    font-size: 1.1em;
    text-shadow: black 0 0 3px;
}
.training-home {
    transition: all 1s ease-out;
}

.training-home:hover {
    position: relative;
    box-shadow: 10px 10px 12px rgba(48, 46, 46, 0.525);
}

.wheel-icon {
    max-width: 8% !important;
    margin-top: 50vh;
    filter: drop-shadow(0px 0px 5px rgb(0 0 0));
}


@keyframes title-rotate-right {
   100% {
       transform: rotate(360deg);
    }     
}

@keyframes title-rotate-left {
    0% {
        transform: rotate(360deg);
     } 
     
 }

 /* Informations personnelles */

 #table-info-perso > div{
     margin-bottom: 1.5em;
 }

 /* Footer */
 footer {
     background-color: #252525 !important;
 }

 .facebook {
     font-size: 3rem;
 }

 /* Map */

 .map {
    height: 300px;
    width: 300px;
    border-radius: 30px;
 }
 .card-top {
     position: relative;
     display: block;
 }
 
 .card-check {
     position: absolute;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 255, 0, 0.26);
     border-radius: 5px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 5rem;
 }

 .card-wait {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 0, 0.548);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}