{% extends 'base.html.twig' %}

{% block body %}
    <p class="alert alert-danger">Êtes-vous sur de vouloir supprimer cette entrainement ?</p>
    {{ form(form)}} - <a href="{{ path('admin') }}">Annuler</a>
{% endblock %}