<!-- Footer -->
<footer class="container-fluid text-white ">
  <div class="row align-items-center">
    <!-- Info -->
    <div class="col-4 mx-auto mt-5">
      <h6 class="text-uppercase fw-bold mb-4">
        Contact</h6>
      <p>
        <i class="fas fa-home mr-2"></i>
        Chemin de petayre, 31190 Auribail</p>
    
        <p>
        <a href="http://www.auribailmotosport.com/" class="link-site" ><i class="fas fa-globe mr-2"></i>
          http://www.auribailmotosport.com/</a>
          </p>

      <p>
      <i class="fas fa-envelope mr-2"></i>
        sylvain.assie@gmail.com
      </p>
      <p>
        <i class="fas fa-phone mr-2"></i>
        06.88.93.48.15</p>
    </div>
    <div class="col-4 footer-links mx-auto">
      <a href="https://www.facebook.com/auribail.motosport" target="_blank" class="text-reset footer-link-logo">
        <i class="fab fa-facebook-f facebook"></i>
      </a>
      <a class="text-reset footer-link-logo" href="https://www.google.fr/maps/place/Petayre,+31190+Auribail/@43.3392546,1.3556687,17z/data=!3m1!4b1!4m5!3m4!1s0x12aecff2c3b7ed1b:0x22ce15563329aece!8m2!3d43.3392507!4d1.3578574" target="_blank">
        <i class="fas fa-map-marked-alt"></i>
      </a>
    </div>

  </div>
  <!-- Copyright -->
  <div class="text-center" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright
  </div>
</div>
</footer>
