    <!--Title h1-->
    <div class="home" id="home">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <h1 class="rounded text-white p-3 rounded title font-weight-bold">MxTrail Auribail</h1>
        </div>
    </div>