{% extends 'base.html.twig' %}

{% block title %} Historique {% endblock %}

{% block body %}
<div class="container-xl">
    <h1 class="my-5"> Historique des entrainements </h1>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Date de l'entrainement</th>
            <th scope="col">Informations</th>
            </tr>
        </thead>
        <tbody>
            {% for userTrainings in userTraining %}
            <tr>
                <td>{{userTrainings.training.trainingDate|date("d/m/Y")}}</td>
                <td>{{userTrainings.training.info}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
        
{% endblock %}
