{% extends 'base.html.twig' %}

{% block title %} Liste des entrainements {% endblock %}

{% block body %}
    <h1 class="my-5"> Liste des entrainements </h1>

    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Date de l'entrainement</th>
            <th scope="col">Informations</th>
            </tr>
        </thead>
        <tbody>
            {% for userTrainings in userTraining %}
            <tr>
                <td>{{userTrainings.training.trainingDate|date("d/m/Y")}}</td>
                <td>{{userTrainings.training.info}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

        
{% endblock %}
